/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: var(#FFFFFF);
  color: var(#212121);
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

.container__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .container__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

@media screen and (max-width: 767.98px) {
  .header-nav__list {
    display: none;
  }
}

.header-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .header-contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contact__list {
    display: block;
  }
}

.header-contact__item {
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav-list {
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
  }
}

.header-nav__list .header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__item {
  display: block;
}

.header-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link.studio::after,
.header-nav__link.portfolio::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .header-nav__link.studio::after,
  .header-nav__link.portfolio::after {
    bottom: 0%;
  }
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: #2196F3;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: #2196F3;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  text-decoration: none;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: bold;
}

.logo__text-web {
  color: #2196F3;
}

.logo_text-studio {
  color: #FFFFFF;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.menu-button {
  position: absolute;
  left: 90%;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding-left: 40px;
  background-color: #ffffff;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.navigation-list {
  padding-bottom: 302px;
}

.navigation-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-list__link {
  font-size: 40px;
  line-height: 1.18;
  text-decoration: none;
  color: #212121;
}

.menu-contact__list {
  padding-bottom: 64px;
}

.menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact__link {
  text-decoration: none;
}

.menu-contact__link.tel {
  color: #2196F3;
  font-size: 34px;
  line-height: 1.18;
}

.menu-contact__link.email {
  color: #757575;
  font-size: 24px;
  line-height: 1.17;
}

.menu-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-social__item:not(:last-child) {
  margin-right: 20px;
}

.menu-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.menu-button {
  fill: #212121;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196F3;
}

.hero {
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_s.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_s.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_s@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_s@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_m.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_m.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_m@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_m@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_l.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_l.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_l@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_l@2x.jpg");
  }
}

.hero.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background-color: #2196F3;
  color: #FFFFFF;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.section-one {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .section-one__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .section-one__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-one__item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .section-one__item:nth-child(2n) {
    margin-left: 30px;
  }
  .section-one__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-one__item {
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    width: 270px;
  }
  .section-one__item:last-child {
    margin-right: 0px;
  }
}

.section-one__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.section-one__title {
  margin-bottom: 26px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}

.section-one__text {
  color: #757575;
  letter-spacing: 0.03em;
  text-align: left;
}

.section-two {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-two {
    display: block;
    padding-bottom: 94px;
  }
}

.section-two__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.section-two__list .section-two__item + .section-two__item {
  margin-left: 30px;
}

.section-two__position {
  position: relative;
}

.section-two__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.section-three__list {
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .section-three__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-three__list {
    padding-bottom: 94px;
  }
}

.section-three {
  background-color: #F5F4FA;
}

.section-three__card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .section-three__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-three__card:nth-child(2n) {
    margin-left: 30px;
  }
  .section-three__card:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-three__card:nth-last-child(-n + 3) {
    margin-left: 30px;
  }
}

.section-three__team-description {
  padding: 30px 32px;
}

.section-three__name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.section-three__team-position {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section-three__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-three__social-link {
  width: 44px;
  height: 44px;
}

.section-three__social-link:not(:last-child) {
  margin-right: 10px;
}

.section-three__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-three__link-item:hover, .section-three__link-item:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.section-three__link-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .section-four {
    padding-bottom: 94px;
  }
}

.section-four__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .section-four__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-four__item {
  width: calc((100% - 1 * 30px) / 2);
}

@media screen and (max-width: 767.98px) {
  .section-four__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
  .section-four__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-four__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .section-four__item:nth-child(3n - 2) {
    margin-right: 30px;
  }
  .section-four__item:nth-child(3n - 1) {
    margin-right: 30px;
  }
  .section-four__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-four__item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-four__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four__link:hover, .section-four__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.footer {
  padding: 60px 0px;
  background-color: #2F303A;
}

@media screen and (max-width: 1199.98px) {
  .logo-footer {
    display: inline-block;
    padding: 0px;
  }
}

.contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-container {
    padding-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    margin-right: 70px;
  }
}

.contacts__list {
  padding-left: 0px;
}

@media screen and (max-width: 1199.98px) {
  .contacts__list {
    margin-bottom: 60px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__address {
  margin-bottom: 8px;
  color: #FFFFFF;
  font-style: normal;
}

@media screen and (max-width: 767.98px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-address {
    text-align: center;
  }
}

.social-link__title,
.subscription__title {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link__item {
  width: 44px;
  height: 44px;
}

.social-link__item:not(:last-child) {
  margin-right: 10px;
}

.social-link__icon {
  fill: #FFFFFF;
}

.social-link__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__link:hover, .social-link__link:focus {
  background-color: #2196F3;
}

@media screen and (max-width: 767.98px) {
  .subscription {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscription {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767.98px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__email {
  width: 440px;
  height: 50px;
  padding-left: 16px;
  color: #FFFFFF;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.subscription__email:focus {
  background-color: #2F303A;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscription__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 166px;
    width: 400px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscription__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__email {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-weight: 700;
  width: 215px;
  padding: 10px 28px 10px 29px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription__logo {
  fill: #FFFFFF;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px 94px 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    max-height: 609px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.modal__btn-close:hover, .modal__btn-close:focus {
  fill: #2196F3;
}

.modal__form {
  display: block;
  text-align: center;
}

.modal__form-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__form-title {
    line-height: 1.17;
  }
}

.modal__form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-comment {
  margin-bottom: 20px;
}

.modal__form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
  margin-bottom: 4px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  border: 1px solid #2196F3;
}

.modal__form-input:focus + svg {
  fill: #2196f3;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal__form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea:focus {
  border: 1px solid #2196F3;
}

.modal__checkbox-policy {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__policy-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  margin-left: 7px;
}

@media screen and (min-width: 1200px) {
  .modal__policy-description {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__policy-description a {
  color: #2196f3;
  text-decoration: underline;
}

.modal__checkbox-icon {
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-btn {
  padding: 10px 55px;
  background-color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: white;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-btn:hover {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__checkbox-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__form-policy {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
}

.modal__form-policy:checked + .modal__custom-checkbox {
  background-color: #2196F3;
  background-origin: content-box;
  border-color: #2196F3;
}

.modal__form-policy:focus + .modal__custom-checkbox {
  border-color: #2196F3;
}

.modal__form-policy:checked + .modal__custom-checkbox .modal__checkbox-icon {
  opacity: 1;
  fill: #FFFFFF;
}

.modal__custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__checkbox-icon {
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
  color: #2196F3;
}

.portfolio {
  color: #2196F3;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__button {
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  -webkit-transition-property: background-color,color,border-radius,-webkit-box-shadow;
  transition-property: background-color,color,border-radius,-webkit-box-shadow;
  transition-property: background-color,color,box-shadow,border-radius;
  transition-property: background-color,color,box-shadow,border-radius,-webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-list {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-list__item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .portfolio-list__item:nth-child(2n) {
    margin-left: 30px;
  }
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .portfolio-list__item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
  .portfolio-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.portfolio-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__link:hover .portfolio-list__title,
.portfolio-list__link:focus .portfolio-list__title {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio-list__description {
  position: relative;
  overflow: hidden;
}

.portfolio-list__title {
  position: absolute;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list__characteristic {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-list__name {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-list__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */