.footer {
   padding: 60px 0px;
   background-color: $secondary-background-color;
}
.contacts{
   font-size: 14px;
   line-height: 1.71;
   font-weight: 400;
   font-style: normal;
}
.contacts__list{
   padding-left: 0px;
}
.contacts__item:not(:last-child){
   margin-bottom: 9px;
}
.contacts__link{
   text-decoration: none;

   color:rgba(255, 255, 255, 0.6);

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
         color: $accent-color;
      }
}
.contacts__address{
   margin-bottom: 9px;
   color: $prymary-white-color;

   font-style: normal;
}
.container-footer{
   display: flex;
   align-items: baseline;
}
.footer-address{
   margin-right: 70px;
}
.social-link__title,
.subscription__title{
   display: inline-block;
   color: #FFFFFF;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.social-link__list{
   display: flex;
}
.social-link__item{
   width: 44px;
   height: 44px;
      &:not(:last-child){
      margin-right: 10px;
      }
}
.social-link__icon {
   fill: #FFFFFF;
}
.social-link__link{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   color: $icon-color;
   background-color: rgba(255, 255, 255, 0.1);
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
      background-color: $accent-color;
      }
}
.subscription{
   margin-left: 93px;
}
.subscription__form{
   display: flex;
}
.subscription__email{
   width: 360px;
   height: 50px;
   margin-right: 12px;
   padding-left: 16px;
   color: #FFFFFF;

   background-color: $secondary-background-color;
   border: 1px solid rgba(255, 255, 255, 0.3);
      &:focus{
      background-color: $secondary-background-color;
      }
}
.subscription__button{
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   font-weight: 700;
   padding: 10px 28px 10px 29px;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: #2196F3;
   border: 0px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   
}
.subscription__logo{
   fill: #FFFFFF;
   margin-left: 10px;
}