.hero{
  background-color: $secondary-background-color;

  background-image:linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("/images/header_s.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @include nq(tablet){
    background-image:linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("/images/header_m.jpg");
  }
  
  @include nq(desktop){
    background-image:linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("/images/header_l.jpg");
  }  
}
.hero.section{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @include nq(desktop){
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title{
  color: $prymary-white-color;
  text-transform: uppercase;

  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;

  margin-bottom: 30px;

  @include nq(desktop){
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button{
  background-color: $accent-color;
  color: $prymary-white-color;

  display: inline-block;
   
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}