.section-one{
   font-size: 14px;
   line-height: 1.71;
}
.section-one__list{
   @include nq(tablet){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
}
.section-one__item{
   @include nq(mobile-only){
      &:not(:last-child){
      margin-bottom: 30px;
      }
   }
   
   @include nq(tablet-only) {
      width: calc((100% - 1 * 30px) / 2);
      &:nth-child(2n){
         margin-left: 30px;
      }
      &:nth-child(-n + 2){
         margin-bottom: 30px;
      }
   }
   @include nq(desktop){
   margin-left: 0px;
   margin-right: 30px;
   margin-bottom: 0px;
   width: 270px;
      &:last-child{
         margin-right: 0px

      }
   }
}
.section-one__icon{
   display: flex;
   justify-content: center;
   align-items: center;
      
   height: 120px;
   background-color: $background-icon;
   margin-bottom: 30px;
}

.section-one__title{
   margin-bottom: 26px;
   text-align: center;
   text-transform: uppercase;

   font-size: 14px;
   line-height: 1.14;
   font-weight: 700;
}

.section-one__text{
   color: $secondary-text-color;

   letter-spacing: 0.03em;
   text-align: left;
   }