.section-one{
   font-size: 14px;
   line-height: 1.71;

}
.section-one__item{
   // margin-right: 30px;
   // width: 270px;
   //    &:last-child{
   //       margin-right: 0px
   //    }
}
.section-one__icon{
   display: flex;
   justify-content: center;
   align-items: center;
      
   height: 120px;
   background-color: $background-icon;
   margin-bottom: 30px;
}

.section-one__title{
   margin-bottom: 26px;
   text-align: center;
   text-transform: uppercase;

   font-size: 14px;
   line-height: 1.14;
   font-weight: 700;
}

.section-one__text{
   color: $secondary-text-color;

   letter-spacing: 0.03em;
   text-align: left;
   }